<head>
	<link rel="stylesheet" href='/stylesheets/trashtalk.css'>
	<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
</head>
<body class="blue">
	<h1>Today's MLB Games</h1>
	<ul>

		{{#each games}}
		  	<li>
		  		<a href="/board?league={{league}}&id={{id}}&away={{awayName}}&home={{homeName}}&date={{date}}">{{awayMarket}} {{awayName}} at {{homeMarket}} {{homeName}}</a>
		  	</li>
		{{/each}}

	</ul>
</body>