<head>
	<link rel="stylesheet" href='/stylesheets/trashtalk.css'>
	<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
</head>
<body class="games">
	<h1>Today's NBA Games</h1>
	<ul>

		{{#each games}}
		  	<li>
		  		<a href="/board?league={{league}}&id={{id}}&away={{away}}&home={{home}}&date={{date}}">{{away}} at {{home}}</a>
		  	</li>
		{{/each}}

	</ul>
	<a href="/"><h4><font color="66FFFF">See More Leagues</font></h4></a>
</body>